<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Filme</title>
  <link rel="stylesheet" href="global.css">
  <link rel="stylesheet" href="personagem.css">
</head>

<body>
  <div class="container">
    <h2>Cadastro de Filme</h2>
    <div class="form-container">
      <form action="/filme" method="POST" autocomplete="off">
        <div class="input-field">
          <label for="titulo">Título</label>
          <input type="text" name="titulo" id="titulo">
          <div class="underline"></div>
        </div>
        <div class="input-field">
          <label for="ano_lancamento">Ano de Lançamento</label>
          <input type="text" name="ano_lancamento" id="ano_lancamento">
          <div class="underline"></div>
        </div>
        <div class="input-field">
          <label for="personagem">Personagem participante</label>
          <select name="personagem" id="personagem">
            <% personagens.forEach(personagem => { %>
              <option value="<%= personagem.id %> ">
                <%= personagem.nome %>
              </option>
              <% }); %>
          </select>
        </div>
        <button>Cadastrar</button>
      </form>
    </div>
  </div>
</body>

</html>