<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inserção de Personagem</title>
  <link rel="stylesheet" href="global.css">
  <link rel="stylesheet" href="form.css">
</head>
<body>
  <div class="container">
    <h2>Inserção Quadrinho</h2>
    <div class="form-container">
      <form action="">
        <div class="input-field">
          <label for="nome">Nome</label>
          <input type="text" name="nome" id="nome">
          <div class="underline"></div>
        </div>
        <div class="input-field">
          <label for="genero">Gênero</label>
          <input type="text" name="genero" id="genero">
          <div class="underline"></div>
        </div>
        <div class="input-field">
          <label for="tipo">Tipo</label>
          <input type="text" name="tipo" id="tipo">
          <div class="underline"></div>
        </div>

        <button>Cadastrar</button>
      </form>
    </div>
  </div>
</body>
</html>