<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Personagem</title>
  <link rel="stylesheet" href="global.css">
  <link rel="stylesheet" href="personagem.css">
</head>
<body>
  <div class="container">
    <h2>Cadastro de Personagem</h2>
    <div class="form-container">
      <form action="/personagem" method="POST" autocomplete="off">
        <div class="input-field">
          <label for="nome">Nome</label>
          <input type="text" name="nome" id="nome">
          <div class="underline"></div>
        </div>
        <div class="input-field">
          <label for="genero">Gênero</label>
          <select name="genero" id="genero">
            <option value="1">Masculino</option>
            <option value="0">Feminino</option>
          </select>
        </div>
        <div class="input-field">
          <label for="tipo">Tipo</label>
          <select name="tipo" id="tipo">
            <option value="0">Herói</option>
            <option value="1">Vilão</option>
            <option value="2">Anti-Herói</option>
          </select>
          <div class="underline"></div>
        </div>

        <button>Cadastrar</button>
      </form>
    </div>
  </div>
</body>
</html>